@use "../presets" as *;
@use "../mixins/" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.5s;
  letter-spacing: 0.11em;

  border: 2px solid $color-light;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
  &--light {
    @include lg-min {
      height: 60px;
      min-width: 250px;
      font-size: 1.125rem;
    }
    @include lg-md {
      height: 50px;
      min-width: 200px;
    }
    @include md {
      height: 40px;
      min-width: 170px;
    }

    background-color: rgba($color-light, 0.1);
  }
  &--primary {
    height: 60px;
    font-size: 1.125rem;

    @include sm-min {
      min-width: 350px;
    }
    @include sm {
      width: 100%;
    }
    border: 2px solid $color-primary;
    background-color: rgba($color-primary, 0.8);
  }
}
