@use "../presets" as *;
@use "../mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

body {
  color: $color-light;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include max-lg {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md-min {
    font-size: 1.875rem;
  }
}
h2 {
  margin: 0;

  color: $color-primary;

  font-family: $font-header;

  @include max-lg {
    margin-bottom: 3rem;

    letter-spacing: 4px;

    font-size: 2.5rem;
    line-height: 3rem;
  }
  @include lg-md {
    margin-bottom: 2.625rem;

    letter-spacing: 3px;

    font-size: 2rem;
    line-height: 2.5rem;
  }
  @include md-sm {
    margin-bottom: 38px;

    letter-spacing: 2.4px;

    font-size: 1.5rem;
    line-height: 24px;
  }
  @include sm-min {
    margin-bottom: 38px;

    text-align: center;
    letter-spacing: 2.4px;

    font-size: 1.5rem;
    line-height: 24px;
  }
}
h3 {
  text-align: center;
  letter-spacing: 0.05em;

  font-family: $font-main;
  font-size: 1.125rem;
}
a {
  text-decoration: none;

  color: $color-light;
}
.hidden {
  @include visually-hidden;
}
